@loggedmain("Async videos") {

<div class="container-fluid">
	<div class="hero-unit">
		<h2>View video messages</h2>
		<p>Look at the video messages that other users sent to you in
			reply to your questions for them.</p>

		<div class="container-fluid">
			<div class="row">
				<div class="span3">
					<center>
						<iframe width="420" height="315" src="http://www.youtube.com/embed/Yh0AhrY9GjA" frameborder="0" allowfullscreen></iframe>
					</center>
				</div>
			</div>
			
			<h2> Who's challenged you? </h2>
			<div class="row-fluid">
			<div class="span8">
				<p>No challenges just yet.</p>
			</div>
		
		</div>
		</div>

	</div>
</div>

}
