@(message: String) @main("Honest Meet") {

<!-- Main hero unit for a primary marketing message or call to action -->


<div class="hero-unit">
	<h2>Meet the one at Honest Meet</h2>
	<p>Honest meet helps people to make new friends online.
		Although social media has developed tremendously, they mostly focus on
		maintaining existing friendships, keeping in touch. Eventually friends
		allows you to meet new people online and widen your social circle.</p>

	<center>
		<img id=theme-pic
			src="/assets/images/friends.jpg"
			alt="alt" height="100" width="940">
	</center>
	<br></br>
	<p>
		<a href="@routes.InfoPages.about()" class="btn btn-primary btn-large">Learn more &raquo;</a>
	</p>
</div>

<!-- Example row of columns -->
<div class="row">
	<div class="span4">
		<h2>Flavour of the month</h2>
		<p>The monthly theme adds an element of fun and keeps users
			active.</p>
		<p>
			<a class="btn" href="#">Details &raquo;</a>
		</p>
	</div>

	<div class="span4">
		<h2>10 profiles in 3 days</h2>
		<p>Instead of spending hours looking through profiles, give it a
			try and talk to someone!</p>
		<p>
			<a class="btn" href="#">Details &raquo;</a>
		</p>
	</div>

	<div class="span4">
		<h2>3 minute video Chat</h2>
		<p>The video chat allows people to see each other in real time.</p>
		<p>
			<a class="btn" href="#">Details &raquo;</a>
		</p>
	</div>
</div>
}
