@(user: User) @loggedmain("Flavour of the Month") {

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="container-fluid">
	<div class="hero-unit">
		<center>
			<h1>My Profile Page</h1>
		</center>
		<br>
		<div class="row-fluid">

			<div class="span4 offset1">
				<center>
					<img
						src=@user.image>
					<h3>@user.name</h3>
				</center>
			</div>

			<div class="span5 offset1">
				<h2>About myself</h2>
				<p>@user.description</p>
				<!-- <a href="#" class="pull-right">edit my profile</a> -->
			</div>

		</div>

		<div class="container">
			<center>
			<div class="span8 offset1">
				<table class="table table-bordered table-hover table-striped">

					<tr id="Age" class="info">
						<td>Age</td>
						<td>@user.age</td>
					</tr>

					<tr id="Location" class="info">
						<td>Location</td>
						<td>@user.location</td>
					</tr>

					<tr id="Occupation" class="info">
						<td>Occupation</td>
						<td>@user.occupation</td>
					</tr>

				</table>
			</div>
			</center>
		</div>
	</div>

	}