@(users: List[User]) @main("Flavour of the Month") {

<div class="hero-unit">
	<h2>Accept/Reject Requests</h2>
	<p>The following people have sent you a request. You can choose to
		accept or reject their request.</p>
</div>

<div class="row">
	<div class="span10 offset1">
		<div class="row">
			@for(user <- users){
			<center>
				<div class="span2 offset1">
					<center>
						<img
							src=@user.image
							width=100>
						<h4>@user.name</h4>
						<div class="btn-group">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								Respond to request <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<!-- dropdown menu links -->
								<li>Accept</li>
								<li>Reject</li>
							</ul>
						</div>
					</center>
				</div>
			</center>
			}
		</div>
	</div>
</div>
}
