@(users: List[User]) @loggedmain("Requests") {

<div class="container-fluid">
	<div class="hero-unit">
		<h2>Send Challenges</h2>
		<p>The following people want to be challenged by you!
		Send them interesting questions to get to know them better.</p>
	</div>
</div>

<div class="row">
	<div class="span8 offset2">
		@for(user <- users){
		<div class="row">
			<center>
				<div class="span3">
					<center>
						<a href="@routes.Matches.viewProfile(user.email)"> <img
							src=@user.image width=150 />
						</a>

						<h4>@user.name</h4>



						</a>
						
							<a href="@routes.Matches.sendRequest(user.email)">
						<button id="button" type="submit" class="btn btn-mini btn-success pull-right">Send Challenge</button>
					</center>
				</div>

			</center>
		</div>
		<br> <br> }
		

	</div>
</div>
}
