@(user: User, qForm: Form[Matches.Question]) 

@import helper._

@loggedmain("Send a request") {



<div class="container-fluid">
	<div class="hero-unit">
		<div class="row-fluid">
			<div class="span8">
				<h2>Send a request to @user.name</h2>
				<p>To request for a video reply, send a list of questions to
					@user.name , so that he/she can see what you want to know. Write
					your questions in the text box below.</p>
			</div>
			<div class="span3 offset1">
				<img src=@user.image width="150" />
			</div>
		</div>
		<br>
		@helper.form(action = routes.Matches.question(user.email)) {
		<form>
			<legend>Legend</legend>
			   @inputText(qForm("Send a request")) 
			<span class="help-block">Do not ask too many questions, he/she
				only has only 3 minutes!</span>
			<button type="submit" class="btn">Send</button>
		</form>
		}
	</div>
</div>

}
