@(message: String)
<!--(matches: List[match]) -->
@main("Flavour of the Month") {
<style type="text/css">
#button {
	margin: auto;
	position: relative;
	left: 60px;
	top: 10px;
}

#matches {
	margin: auto;
	position: relative;
	padding-bottom: 20px;
	padding-top: 20px;
}
</style>


<div class="hero-unit">
	<h2>View Matches:</h2>
	<p>Every 3 days, you will be able to see 10 new matches. Select 3
		people to have a short video chat with to know them better. Start
		making new friends now!</p>
</div>

<div id="matches" class="row-fluid">
<div class="span5 offset1">
</div>
</div>

<br>
}
