@(users: List[User]) @loggedmain("Flavour of the Month") {
<style type="text/css">
#matches {
	margin: auto;
	position: relative;
	padding-bottom: 40px;
	padding-top: 40px;
}
</style>


<div class="container-fluid">
	<div class="hero-unit">
		<h2>View Matches:</h2>
		<p>Every 3 days, you will be able to see 10 new matches. Select 3
			people to have a short video chat with to know them better. Start
			making new friends now! The clock is ticking....</p>
			<br>
			<p align=center>
			<iframe src="http://free.timeanddate.com/countdown/i3caohl5/n25/cf12/cm0/cu4/ct0/cs0/ca0/co0/cr0/ss0/cac000/cpc000/pct/tcfff/fn3/fs200/szw320/szh135/iso2012-10-25T00:00:00" frameborder="0" width="200" height="56"></iframe>

			</p>
	</div>
</div>


<div class="container">
	<center>
		<div class="row">
			<div class="span10 offset1">
				<div class="row">
					@for(user <- users){
					<div class="span5" id="matches">
						<center>
							<a href="@routes.Matches.viewProfile(user.email)"> <img
								src=@user.image width=250 />
							</a>
							<h4></h4>
							<a href="@routes.Matches.sendRequest(user.email)"><button
									id="button" type="submit" class="btn btn-mini">
									<strong>Send request to @user.name</strong>

								</button></a>
						</center>
					</div>
					}
				</div>
			</div>
		</div>
	</center>
</div>
}
