@(users: List[User]) @main("Flavour of the Month") {
<style type="text/css">
</style>

<div class="hero-unit">
	<h2>Vote for other users</h2>
	<p>
		Look at other users' profile pictures and vote for those that stand
		out from the rest. Choose from: Fashionista
		<img
			src="https://playfoursquare.s3.amazonaws.com/badge/57/bravo_fashionista.png"
			width="40">
		, Photogenic
		<img
			src="https://playfoursquare.s3.amazonaws.com/badge/57/photogenic.png"
			width="40"> 
		and
		Creativity Overflow 
		<img
			src="https://playfoursquare.s3.amazonaws.com/badge/57/sxsw2010_panel_nerd.png"
			width="40">.
	</p>
</div>
<div class="container">
	<div class="row">
		<div class="span10 offset1">
			<div class="row">
				@for(user <- users){
				<center>
					<div class="span2">
						<img
							src="@user.image"
							width=70 /> <br> @user.name
						<div class="btn-toolbar">
							<div class="btn-group">
								<button type="button" class="btn btn-mini" data-toggle="button">
									<img
										src="https://playfoursquare.s3.amazonaws.com/badge/57/bravo_fashionista.png"
										width="20">
								</button>

								<button type="button" class="btn btn-mini" data-toggle="button">
									<img
										src="https://playfoursquare.s3.amazonaws.com/badge/57/photogenic.png"
										width="20">
								</button>

								<button type="button" class="btn btn-mini" data-toggle="button">
									<img
										src="https://playfoursquare.s3.amazonaws.com/badge/57/sxsw2010_panel_nerd.png"
										width="20">
								</button>
							</div>
						</div>

					</div>
				</center>
				}
			</div>
		</div>
	</div>
</div>
}
