@(users: List[User]) @loggedmain("Flavour of the Month") {
<style type="text/css">
</style>

<div class="container-fluid">
<div class="hero-unit">
	<h2>Vote for other users for this flavour of the month</h2>
	<p>
		Look at other users' profile pictures and vote for those that stand
		out from the rest. Choose from: Fashionista
		<img
			src="/assets/images/icons/fashionista_icon.png"
			width="40">
		, Photogenic
		<img
			src="/assets/images/icons/photogenic_icon.png"
			width="40"> 
		and
		Creativity Overflow 
		<img
			src="/assets/images/icons/nerd_icon.png"
			width="40">.
	</p>
</div>
</div>
<div class="container">
	<div class="row">
		<div class="span10 offset1">
			<div class="row">
				@for(user <- users){
				<center>
					<div class="span2">
						<a href="@user.image"><img height=200
							src= "@user.image"
							 /></a> 
							 <br> @user.hometown <br>Age: @user.age
						<div class="btn-toolbar">
							<div class="btn-group">
								<button type="button" class="btn btn-mini" data-toggle="button">
									<img
										src="/assets/images/icons/fashionista_icon.png"
										width="20">
								</button>

								<button type="button" class="btn btn-mini" data-toggle="button">
									<img
										src="/assets/images/icons/photogenic_icon.png"
										width="20">
								</button>

								<button type="button" class="btn btn-mini" data-toggle="button">
									<img
										src="/assets/images/icons/nerd_icon.png"
										width="20">
								</button>
							</div>
						</div>

					</div>
				</center>
				}
			</div>
		</div>
	</div>
</div>
}
